
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.main-ball{
	height: 60px;
	width: 60px;
	position: absolute;
	bottom: 0px;
	left: 40%;
}
.my-input:after {
    content: 'Escoja';
}
.bg{
	border-style: solid;
	border-width: 5px;
}