<template>
<div class="row mt-5 ml-3">
    <div class="col-12 mb-5 h1 font-weight-bold mt-5">Proyecto simulador de fisica</div>
    <div class="col-3">
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title h3 text-center text-info">Simulador voltaje <br> vs <br> velocidad</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Es un simulador para el primer proyecto de fisica.</li>
            </ul>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Aca depositara un excel con el que podra simular velocidad vs voltaje</li>
            </ul>
            <div class="card-body">
                <a href="download/template" class="card-link h5">Descargar template</a>
                <hr>
                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="input" accept=".xlsx, .xls, .csv" @change="fileChange($event.target.files[0])">
                    <label class="custom-file-label my-input" for="inputGroupFile01">Escoja su excel</label>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col position-relative bg mr-1">
        <!-- <canvas id="myCanvas" style="height: 100%; width: 100%"> -->
        <!-- </canvas> -->
        <div id="ball" class="rounded-circle main-ball bg-dark"></div>
    </div>
</div>
</template>
<script>
import XLSX from 'xlsx';

export default {
    data(){
        return{
            json: {},
            q : 1.602176487,
            m : 0.1672,
            V: 0,
            initialValue: 0,
            value: 0,
            px: 0,
            time: 0,
        }
    },
    mounted() {
        const ball = document.getElementById("ball");
        this.initialValue = 20;
        this.value = 20;
        ball.style.left = this.initialValue+"px"
    },
    methods: {
        fileChange (file) {
            if (file !== undefined) {
                let reader = new FileReader()
                reader.readAsArrayBuffer(file)
                let workbook;
                reader.onload = (e) => {
                    this.json = {}
                    let data = new Uint8Array(e.target.result);
                    workbook = XLSX.read(data, {type: 'array'});
                    workbook.SheetNames.map(sheet => {
                        // this.json = XLSX.utils.sheet_to_json(workbook.Sheets[sheet])
                        this.json =  XLSX.utils.sheet_to_json(workbook.Sheets[sheet])
                    })
                    let prevValue = 0;
                    let prevVelocity = 0;
                    let velocity = 3;
                    this.px = 0
                    this.time = 0
                    for (var key in this.json){
                        if (prevValue < this.json[key].Voltaje) {
                            this.v = (this.json[key].Voltaje - prevValue)
                            prevValue = this.json[key].Voltaje
                        }
                            velocity -= this.formula();
                            if (velocity < prevVelocity) {
                                document.getElementById("ball").animate([
                                  // keyframes
                                  { transform: 'translateX(20px)' }, 
                                  { transform: 'translateX('+ this.px +')' }
                                ], { 
                                  // timing options
                                  duration: 20000,
                                  // iterations: Infinity
                                });
                                console.log(this.px)
                                this.time = 0;
                            }
                            this.value += (velocity)
                            this.time += this.json[key].Tiempo
                            if (this.value > this.initialValue) {
                                this.px = (this.value) + "px";
                                // this.sleep(30)
                                console.log(this.value)
                            }
                    }
                    console.log(this.px)
                    document.getElementById("ball").animate([
                      // keyframes
                      { transform: 'translateX(20px)' }, 
                      { transform: 'translateX('+ this.px +')' }
                    ], { 
                      // timing options
                      duration: (this.time * 100),
                      // iterations: Infinity
                    });
                    document.getElementById("input").value = "";
                }
            }
        },
        formula(){
            return ((2 * this.q * this.v) / this.m) * 0.00105
        },
        sleep(milliseconds) {
          var start = new Date().getTime();
          for (var i = 0; i < 1e7; i++) {
            if ((new Date().getTime() - start) > milliseconds){
              break;
            }
          }
        }
    }

}
</script>